@import "../../../../utilities/variables.scss";

.resumen {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .titulo_tabla {
    display: flex;
    margin: 20px;
    margin-bottom: 0;
    border-width: 2px;
    border-style: groove;
    border-color: #6f7976;
    border-image: initial;
    border-bottom: none;
    box-sizing: border-box;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #00000080;
    font-size: 20px;
    font-weight: bold;
  }

  .tabla {
    display: flex;
    height: 398px;
    flex-grow: 1;
    margin: 20px;
    margin-top: 0;
    font-size: 15px;
    font-weight: normal;
    border-width: 2px;
    border-style: groove;
    border-color: #6f7976;
    border-image: initial;
    box-sizing: border-box;
    border-top: none;

    .table {
      width: 100%;
      color: #fff;
      background-color: #21252980;
      text-align: center;
      border-spacing: 0px;
    }

    .table-dark > th,
    .table-dark > td {
      background-color: #030303;
    }

    .table-hover .table-dark:hover {
      background-color: #030303;
    }

    .table-hover .table-dark:hover > td,
    .table-hover .table-dark:hover > th {
      background-color: #030303;
    }

    .table-active,
    .table-active > th,
    .table-active > td {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-hover .table-active:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
      background-color: rgba(0, 0, 0, 0.075);
    }
    thead,
    tbody {
      display: block;
    }

    .tbody-dark {
      height: 361px;
      overflow-y: auto;
      overflow-x: hidden;
      background: #647572a8;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      
      .sinElementos {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background: #00000061;
      }
    }

    .table .thead-dark th {
      color: #fff;
      background-color: #21252980;
      border-color: #121416;
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .table .tbody-dark td {
      padding: 0px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .table-dark {
      color: #fff;
      background-color: #21252980;
    }
    .table-dark.table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.151);
    }

    .table-dark.table-striped tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.308);
    }

    .table-dark.table-hover tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.185);
    }

    .cabeceraFecha {
      width: 166px;
      max-width: 166px;
      overflow: hidden;
    }
    .cabeceraNombre {
      width: 216px;
      max-width: 216px;
      overflow: hidden;
    }
    .cabeceraDescripcion {
      width: 360px;
      max-width: 360px;
      overflow: hidden;
    }
    .cabeceraResultado {
      width: 316px;
      max-width: 316px;
      overflow: hidden;
    }
    .cabeceraVisualizar {
      width: 70px;
      max-width: 70px;
      overflow: hidden;
    }

    .colFecha {
      width: 166px;
      max-width: 166px;
      overflow: hidden;
    }
    .colNombre {
      width: 216px;
      max-width: 216px;
      overflow: hidden;
    }
    .colDescripcion {
      width: 360px;
      max-width: 360px;
      overflow: hidden;
    }
    .colResultado {
      width: 316px;
      max-width: 316px;
      overflow: hidden;
    }
    .colVisualizar {
      width: 70px;
      max-width: 70px;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.397) 0%, rgba(0, 0, 0, 0) 80%);
      }
    }
  }
}
