<div class="resumen">
  <div class="titulo_tabla">
    Lista de vacunas
  </div>
  <div class="tabla">
    <table mdbTable striped="true" class="table table-striped table-dark table-hover">
      <thead class=thead-dark>
        <tr>
          <th *ngFor="let head of headElements" class="{{head.clase}}" scope="col">{{head.nombre}} </th>
        </tr>
      </thead>
      <tbody class=tbody-dark *ngIf="tieneVacunas">
        <ng-container *ngFor="let el of mascota.vacunas">
          <tr mdbTableCol>
            <td class="colFecha">{{ el.fecha | date:"dd/MM/yyyy" }}</td>
            <td class="colVacuna">{{ el.vacuna }}</td>
            <!-- <td class="colVisualizar"><img src="../../../../assets/img/visualizar-oscuro.png" width="25px"
                    height="13px"></td> -->
          </tr>
        </ng-container>
      </tbody>
      <tbody class="tbody-dark flex" *ngIf="!tieneVacunas">
        <div class="sinElementos">
          Aun no se han registrado vacunas en esta mascota.
        </div>
      </tbody>
    </table>
  </div>
</div>