<div class="container_oscuro" *ngIf="isReady">
    <div class="seccion">

      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../../../assets/logo_claro.png" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="correo" [(ngModel)]="email" />
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="contraseña" value="{{ password }}" />
            <input type="submit" class="fadeIn fourth" style="cursor: pointer;" value="Entrar" (click)="sendLogin()" />
          </form>
          <ng-container *ngIf="showError">
            <p> Usuario o contraseña incorrectos </p>
          </ng-container>

          <!-- Remind Passowrd -->
          <div id="formFooter" style="color:black;">
            <input id="recordar" type="checkbox" [(ngModel)]="rememberPass" />
            <label for="recordar">Recordar contraseña</label>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container_oscuro" *ngIf="!isReady">
  <!-- Dejamos esto para que no pegue pantallazo al cerrar sesión -->
  <!-- El tiempo de carga es demasiado pequeño para poner un gif de carga, pero lo suficiente para notar el pantallazo -->
</div>