<div class="container{{tema}}">
  <app-selecciones class="top"></app-selecciones>
  <div class="bottom">
    <app-menu class="menu"></app-menu>
    <div class="seccion{{tema}} columna" *ngIf="ready && mascota">
      <div class="titulo">
        {{mascota.nombre}}
      </div>
     <div class="menu_mascota">
        <div class="boton {{muestraSeccion=='resumen' ? 'seleccionado_primero' : ''}}" (click)="irA('resumen')">RESUMEN</div>
        <div class="boton {{muestraSeccion=='analiticas' ? 'seleccionado' : ''}}" (click)="irA('analiticas')">ANALÍTICAS</div>
        <!-- <div class="boton {{muestraSeccion=='radiografias' ? 'seleccionado' : ''}}" (click)="irA('radiografias')">RADIOGRAFÍAS</div>
        <div class="boton {{muestraSeccion=='pruebas' ? 'seleccionado' : ''}}" (click)="irA('pruebas')">PRUEBAS</div> -->
        <div class="boton {{muestraSeccion=='tratamientos' ? 'seleccionado' : ''}}" (click)="irA('tratamientos')">TRATAMIENTOS</div>
        <div class="boton {{muestraSeccion=='vacunas' ? 'seleccionado' : ''}}" (click)="irA('vacunas')">VACUNAS</div>
        <div class="boton_desparasitaciones {{muestraSeccion=='desparasitaciones' ? 'seleccionado_ultimo' : ''}}" (click)="irA('desparasitaciones')">DESPARASITACIONES</div>
      </div>
      
      <div class="datos_resumen_mascota" *ngIf="muestraSeccion=='resumen'">
        <app-principal style="width: 100%" [mascota]="mascota" [cliente]="cliente" [elements]="elements"></app-principal>
      </div>
      <div class="datos_resumen_mascota" *ngIf="muestraSeccion=='analiticas'">
        <app-lista-analiticas style="width: 100%" [mascota]="mascota"></app-lista-analiticas>
      </div>
      <div class="datos_resumen_mascota" *ngIf="muestraSeccion=='tratamientos'">
        <app-lista-tratamientos style="width: 100%" [mascota]="mascota"></app-lista-tratamientos>
      </div>
      <div class="datos_resumen_mascota" *ngIf="muestraSeccion=='vacunas'">
        <app-lista-vacunas style="width: 100%" [mascota]="mascota"></app-lista-vacunas>
      </div>
      <div class="datos_resumen_mascota" *ngIf="muestraSeccion=='desparasitaciones'">
        <app-lista-desparasitaciones style="width: 100%" [mascota]="mascota"></app-lista-desparasitaciones>
      </div>
    </div>
    <div class="seccion{{tema}} error" *ngIf="!mascota">
      Mascota no encontrada
    </div>
  </div>
</div>
