@import "../../../utilities/variables.scss";

.seccion_oscuro {
  display: flex;
  background-color: rgba(#ffffff, $alpha: 0.4);
  flex-basis: $anchoSeccion + px;
  align-items: center;
  justify-content: center;
  height: $altoSeccion + px;
  border-top: 2px solid $colorFondoOscuro;
  border-left: 2px solid $colorFondoOscuro;
  box-sizing: border-box;
  border-top-left-radius: 5px;

  .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: $altoTituloResumenMascota + px;
    background: $fondoTituloResumenMascota;
    font-size: 20px;
    font-weight: bold;
  }
  .menu_mascota {
    display: flex;
    height: 28px;
    width: 100%;

    .boton {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: $fondoMenuResumenMascota;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        transition: 0.3s all, 0s border-bottom;
        cursor: pointer;
        
        &:hover{
            background: #00000080;
        }
    }
    .boton_desparasitaciones {
        display: flex;
        width: 120%;
        justify-content: center;
        align-items: center;
        background: $fondoMenuResumenMascota;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        transition: 0.3s all;
        cursor: pointer;

        &:hover{
            background: #00000080;
        }
    }
    .seleccionado{
        border: 1px solid white;
        border-bottom: 1px solid transparent;
        background: rgba(17, 37, 33, 0.839);
        cursor: default;

        &:hover{
            background: rgba(17, 37, 33, 0.839);
        }
    }
    .seleccionado_primero{
        border: 1px solid white;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        background: rgba(17, 37, 33, 0.839);
        cursor: default;

        &:hover{
            background: rgba(17, 37, 33, 0.839);
        }
    }
    .seleccionado_ultimo{
        border: 1px solid white;
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;
        background: rgba(17, 37, 33, 0.839);
        cursor: default;

        &:hover{
            background: rgba(17, 37, 33, 0.839);
        }
    }
  }
  .datos_resumen_mascota {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: $fondoSeccionResumenMascota;
  }
}
